<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <title>{% block title %}TEST for Imagic{% endblock %}</title>
    <link rel="stylesheet" href="{{ url('static/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url('bundle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
 
</head>
<body class="home-page">
    <div class="wrapper">
        

        {% block content %}
        <section class="hero">
            <div class="hero__content">
                <h1>Imagic Test</h1>
            </div>
        </section>

        <section class="slider-section">
            <div class="slider-section-flex content-column">
                <div class="slider_content">
                    <h2>This is a slider</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it t</p>
                    <hr/>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
                <div class="slider-component">
                    
                    <swiper-container">
                        <div class="swiper-wrapper">
                    
                        <swiper-container>
                        <swiper-slide><img src="{{ url('static/images/photos/1.png') }}" alt="Image 1"></swiper-slide>
                        <swiper-slide><img src="{{ url('static/images/photos/2.png') }}" alt="Image 1"></swiper-slide>
                        <swiper-slide><img src="{{ url('static/images/photos/3.png') }}" alt="Image 1"></swiper-slide>
                        <swiper-slide><img src="{{ url('static/images/photos/4.png') }}" alt="Image 1"></swiper-slide>
                        
                        </swiper-container>

                    
                </div>
            </div>
        </section>
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer text-center text-lg-start mt-5">
        <div class="text-center padding-footer">
            © Copyright 2024 Imagic test. All rights reserved.
        </div>
    </footer>

 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</body>
</html>
